$primary-color: #ED9523;
$active-color: #B6F612;
$white: #FFF;
$light-color: #F2E9D4;
$text-color: $light-color;
$dark-color: #363636;
$bg-color: #10697A;
$bg-color-1: #C6472D;

$bg-opacity: 0.9;

$menu-width: 60vw;